<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumeroSistema" value ="1"/>

    <add key="ServerSeguridad" value="vs2003"/>
    <add key="UserSeguridad" value="test"/>
    <add key="PasswordSeguridad" value="test"/>

    <add key="ServerAplicacion" value="vs2003"/>
    <add key="UserAplicacion" value="test"/>
    <add key="PasswordAplicacion" value="test"/>

    <add key="ServerSICOP" value="vs2003" />
    <add key="UserSICOP" value="test" />
    <add key="PasswordSICOP" value="test"/>
  </appSettings>
</configuration>